#concierge-button{
    background: rgb(86, 70, 235);
    height: 64px;
    border-radius: 32px;
    width: 256px;

    position: fixed;
    bottom: 20px;
    right: 40px;
}

#concierge-button img{
    width: 64px;
    height: 64px;
}

#concierge-button span{
    width: 160px;
    height: 50px;
    background: white;
    font-size: 1em;
    line-height: 3em;
    position: absolute;
    border-radius: 25px;
    top: 50%;
    left: calc(50% + 10px);
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
}

#concierge-button span::after{
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px; 
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -ms-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

@media screen and (max-width: 480px){
  #concierge-button{
    border-radius: 50%;
    width: 64px;
  }

  #concierge-button span{
    display: none;
  }
}

#concierge-chat-box{
    position: fixed;
    width: 400px;
    height: 70%;
    bottom: 10px;
    right: 10px;
    box-shadow: 0px 0px 6px 3px #8fa3b7;
}

@media screen and (max-width: 480px){
    #concierge-chat-box{
        top: 10%;
        left: 10%;
        width: 80%;
        height: 80%;
    }
}

.concierge-chat{
    position: relative;
    height: 70%;
    max-height: calc(80vh - 120px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.concierge-input{
    position: relative;
    height: 30%;
    min-height: 120px;
    background: blue;
    border-top: 1px solid #aaa;
    background: #eee;
}

/**
LINE stamp
*/

/*以下、①背景色など*/
.line-bc {
  padding: 0;
  max-width: 450px;
  text-align: right;
  font-size: 14px;
  background: #fff;

}

/*以下、②左側のコメント*/
.balloon6 {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}

.balloon6 .faceicon {
  float: left;
  margin-right: -50px;
  width: 40px;
}

.balloon6 .faceicon img{
  width: 100%;
  height: auto;
  border-radius: 50%;
  background: rgb(86, 70, 235);
}
.balloon6 .chatting {
  width: 100%;
  text-align: left;
}
.says {
  display: inline-block;
  position: relative; 
  margin: 0 0 0 50px;
  padding: 10px;
  max-width: 60%;
  border-radius: 12px;
  background: #edf1ee;
  word-wrap: break-word;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px; 
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -ms-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.says p {
  margin: 0;
  padding: 0;
}

/*以下、③右側の緑コメント*/
.mycomment {
  margin: 10px 0;
}
.mycomment p {
  display: inline-block;
  position: relative; 
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 70%;
  border-radius: 12px;
  background: #30e852;
  font-size: 15px;
  text-align: left;
  word-wrap: break-word;
}

.mycomment p:after {
  content: "";
  position: absolute;
  top: 3px; 
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -ms-transform: rotate(-35deg);
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

#concierge-input{
    resize: none;
    width: calc(100% - 4px);
    height: calc(80%);
    position: absolute;
    bottom: 0px;
    left: -1px;
    font-size: 1.3em;
}


#concierge-question-icon{
    width: 16px;
    height: 16px;
    position: absolute;
    left: 2px;
    top: 2px;
}


#concierge-send-icon{
    width: 16px;
    height: 16px;
    position: absolute;
    right: 5px;
    top: 2px;
}

@media screen and (min-width: 480px){
    #concierge-send-icon{
        display: hidden;
    }

    .mycomment p{
        max-width: 250px;
    }

    .says {
        max-width: 250px;
    }
}
